.footer {
    color: white;
    width: 1280px;
    margin-top: 4em;
}

.footer > h4 {
    margin-left: 2em;
}

.links {
    display: flex;
    justify-content: space-between;
}

.footerlinks {
    display: flex;
    justify-content: space-between;
    margin-right: 2em;
    margin-left: 2em;
    margin-bottom: 4em;
}


.copyright {
    align-items: center;
    text-align: center;
}

.footerLogo {
    width: 1.3em;
}

.snow {
    background-image: cover;
    position: absolute;
    width: 20em;
    height: 40em;
    left: 0;
    top: 4em;
}

.snow2 {
    background-image: cover;
    position: absolute;
    width: 18em;
    height: 40em;
    right: 0;
    top: 4em;
}